@import "~app/assets/scss/bundle.scss";

.selector {}

.selector__appearance {
	padding: 1.25em 1em;

	border: 1px solid $color-gray-3;
	border-radius: $border-radius-1;

	cursor: pointer;
}

.selector__current {
	color: $color-gray-3;
}

.selector__icon {
	color: $color-main-text;
	transition: 200ms ease transform;

	&--up {
		transform: rotateX(180deg);
	}
}
