@import "~app/assets/scss/bundle.scss";

.selector {
	width: var(--selector-width);
	min-width: 15em;

	@include Mobile {
		width: auto;
	}
}

.selector__appearance {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;

	@include InputAppearance;

	cursor: pointer;
}

.selector__current {
	color: $color-gray-3;
	font-size: $font-size-5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selector__icon {
	--icon-size: 0.75em;

	color: $color-main-text;
	transition: 200ms ease transform;

	&--up {
		transform: rotateX(180deg);
	}
}
