@import "~app/assets/scss/bundle.scss";

.specifications {
	display: grid;
	@include gap(2.5em);
}

.specifications__container {
	display: grid;
	@include gap(1.5em);
}

.specifications__specification {
	display: flex;
	align-items: center;
	@include gap(1em);
}

.specifications__add {
	display: flex;
	align-items: center;

	@include gap(1em);
}

.specifications__text {
	columns: $color-gray-2;
	font-size: $font-size-5;
}

.specifications__circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.75em;
	height: 1.75em;
	background: #BCC2C7;
	border-radius: 50%;
}

.specifications__icon {
	--icon-size: 1em;

	color: $color-white;
}
