@import "~app/assets/scss/bundle.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	min-height: 100vh;
	width: 100vw;
}

.view-layout {
	display: grid;
	// align-content: baseline;
	gap: 2em;
}
