@import "~app/assets/scss/bundle.scss";

.row {
	display: flex;
	align-items: baseline;
	gap: 1em;

	@include Mobile {
		display: grid;
	}
}

.column {
	display: grid;
	align-content: baseline;
	gap: 1.5em;
}
