@import "~app/assets/scss/bundle.scss";

.row {
	display: flex;
	align-items: baseline;
	@include gap(1em);

	@include Mobile {
		display: grid;
	}
}

.column {
	display: grid;
	align-content: baseline;
	@include gap(1.5em);
}
