@import "~app/assets/scss/bundle.scss";

.previews {
	display: grid;
	align-content: baseline;
	justify-content: space-between;
	grid-template-columns: repeat(auto-fill, minmax(14.25em, 1fr));
	gap: 2em;

	flex: 1;
}
