@import "~app/assets/scss/bundle.scss";

.author {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.author__avatar {
	$size: 3.5em;

	width: $size;
	height: $size;

	border-radius: 50%;
	object-fit: cover;
}

.author__info {
	display: grid;
	gap: 0.5em;
}

.author__name {
	font-size: $font-size-5;
	font-weight: 600;
	text-align: right;
}

.author__city {
	color: $color-gray-2;
	font-size: $font-size-5;
	text-align: right;
}