@import "~app/assets/scss/bundle.scss";

.table {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		padding: 1em 1.5em;
		font-size: $font-size-5;
	}

	tr:not(:last-child)>th,
	tr:not(:last-child)>td {
		border-bottom: 1px solid $color-gray-3;
	}

	thead>tr>th {
		color: $color-gray-2;
	}

	tbody>tr>td {
		.active {
			font-weight: bold;
		}
	}
}
