@import "~app/assets/scss/bundle.scss";

.icon {
	$size: var(--icon-size, 1em);

	display: inline;
	vertical-align: middle;
	width: $size;
	height: $size;

	&[color="red"] {
		color: $color-raspberry-1;
	}
	&[color="white"] {
		color: white;
	}
	use {
		pointer-events: none;
	}
}
