@import "~app/assets/scss/bundle.scss";

$width: 16em;
$toggleSize: 1.5em;

@keyframes from-absolute {
	0%,
	99% {
		position: absolute;
	}
}

.filters {
	top: 0em;
	right: 0;
	bottom: 0;

	width: $width;
	background: $color-white;
	outline: 1em solid white;
	transition: 500ms ease width, 500ms ease top;

	@include DesktopOnly {
		animation: 200ms 0ms from-absolute;

		&--shrunken {
			width: $toggleSize;

			.filters__toggle {
				display: unset;
			}

			.filters__inner {
				opacity: 0;
				overflow: hidden;
				pointer-events: none;
			}
		}

		&--expanded {
			position: absolute;
			top: -7em;

			width: 100%;
			animation: unset;

			.filters__title {
				display: none;
			}

			.filters__toggle {
				left: 0;
				display: unset;
			}
		}
	}

	@include Mobile {
		width: $toggleSize;
		height: $toggleSize;

		.filters__toggle {
			display: unset;
		}

		.filters__inner {
			opacity: 0;
			overflow: hidden;
			pointer-events: none;
		}

		&--expanded {
			position: absolute;
			top: -3.5em;

			outline: unset;
			overflow: hidden;
		}
	}
}

.filters__toggle {
	--icon-size: #{$toggleSize};

	position: absolute;
	right: 0;

	display: none;
	color: $color-raspberry-1;
}

.filters__inner {
	display: grid;
	align-content: baseline;
	gap: 2em;

	width: 100%;
	transition: 500ms ease opacity;

	@include Mobile {
		position: absolute;
		inset: 0;
	}
}

.filters__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filters__title {
	font-size: $font-size-3;
	font-weight: 600;
	text-transform: uppercase;
}

.filters__container {
	display: grid;
	gap: 1em;

	& > * {
		padding-top: 1em;
		border-top: 1px solid $color-gray-4;
	}
}

.filters__submit {
	justify-self: baseline;
	padding-left: 3em;
	padding-right: 3em;
}

/* Toolbox */

.filters-toolbox {
	display: flex;
	align-items: center;
	@include column-gap(1em);

	margin-left: auto;
}

.filters-toolbox__reset {
	border-bottom: 1px solid;
	color: $color-raspberry-1;
	font-size: $font-size-5;

	&:active {
		border-color: transparent;
	}

	&:disabled {
		color: $color-gray-3;
	}
}

.filters-toolbox__tool {
	cursor: pointer;

	&:disabled {
		color: $color-gray-3;
	}

	&--expand {
		@include Mobile {
			display: none;
		}
	}
}

/* Filter */

.filter {
	&--choosed {
		& .filter .filter__title {
			color: $color-raspberry-2;
		}
	}
	&--group {
		& .filter .filter__title {
			font-weight: 500;
			text-transform: unset;
		}

		& > .filter__container {
			max-height: 50vh;
			overflow-y: overlay;
			overflow-x: hidden;

			padding-right: 1.5em;

			@include DesktopOnly {
				@include Scrollbar;
			}

			@include Mobile {
				max-height: unset;
			}

			& > .filter__inner {
				align-content: baseline;
				justify-content: space-between;
				column-gap: 5%;
				grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
			}
		}
	}
}

.filter__header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	cursor: pointer;
}

.filter__title {
	font-size: $font-size-5;
	font-weight: 600;
	text-transform: uppercase;
	&--choosed {
		color: $color-raspberry-1;
	}
	&:not(&--choosed) {
		color: #1c1c27;
	}
}

.filter__icon {
	transition: 250ms ease transform;

	&--up {
		transform: rotateX(180deg);
	}

	&--rotate {
		transform: rotate(-45deg);
	}
}

.filter__container {
	height: auto;
	height: calc(var(--height) * 1px);
	transition: 250ms ease opacity, 250ms ease height;
	// &--expanded {
	// 	margin-left: 1em;
	// }
	&--choosed {
		color: $color-raspberry-1;
	}
	&:not(&--expanded) {
		opacity: 0;
		height: 0px;
		pointer-events: none;
		display: none;
	}
}

.filter__inner {
	display: grid;
	align-content: baseline;
	gap: 1em;
	padding-top: 1em;

	.filter__inner & > .filter {
		// margin-left: 1em;
		.filter__title {
			font-size: $font-size-6;
			margin-left: 1em;
		}

		.filter__inputs {
			margin-left: 2em;
		}
	}
}

.filter__inputs {
	display: grid;
	align-content: baseline;
	gap: 1em;

	.checkbox {
		font-size: 75%;

		.checkbox__label {
			font-size: $font-size-6;
		}
	}
}

/* Mobile Filters */

.mobile-filters {
	overflow: hidden;

	&--expanded {
		position: fixed;
		inset: 0;

		padding: 1.5em;
		background: $color-white;
		transition: 200ms ease opacity, 200ms ease transform;
		overflow: auto;

		z-index: 1;
	}
}

.mobile-filters__container {
	display: flex;
	align-items: center;

	@include column-gap(1em);
	p {
		text-transform: uppercase;
	}

	.mobile-filters--expanded & {
		display: none;
	}
}

.mobile-filters__toggle {
	--icon-size: #{$toggleSize};

	color: $color-raspberry-1;
}

.mobile-filters__categories {
	display: flex;
	@include column-gap(0.75em);

	overflow: auto;

	& > .button {
		flex-shrink: 0;
	}
}

.mobile-filters__window {
	display: none;

	.mobile-filters--expanded & {
		display: grid;
		gap: 2.5em;
	}
}

.mobile-filters__close {
	margin-left: auto;
}

.mobile-filters__tree {
	$gap: 1.5em;

	display: grid;
	// gap: 1em;

	& > *:not(:last-child) {
		padding-bottom: $gap;
		margin-bottom: $gap;

		border-bottom: 1px solid $color-gray-4;
	}
}

.mobile-filters__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile-filters__title {
	font-size: $font-size-3;
	font-weight: 600;

	text-transform: uppercase;
}

.mobile-filters__clear {
	font-size: $font-size-5;

	color: $color-gray-2;

	&:active {
		text-decoration: none;
	}

	&--active {
		color: $color-raspberry-1;
		text-decoration: underline;
	}
}
