@import "~app/assets/scss/bundle.scss";

.checkbox {
	display: flex;
	align-items: center;
}

.checkbox__input {
	appearance: none;
	font-size: 0.001px;
}

.checkbox__appearance {
	padding: 0.5em;
	border: 1px solid;
	border-radius: 0.125em;
	color: $color-gray-3;
	transition: 200ms linear border-color, 200ms linear color;

	:checked>& {
		color: $color-raspberry-1;

		.checkbox__icon {
			opacity: 1;
		}
	}
}

.checkbox__icon {
	--icon-size: $font-size-6;

	opacity: 0;
	transition: 200ms linear opacity;
}

.checkbox__label {
	font-size: $font-size-6;
}
