@import "~app/assets/scss/bundle.scss";

.lot-page {
	display: flex;
	justify-content: space-between;

	&>* {
		// display: grid;
		// align-content: flex-start;
		// gap: 2em;

		width: 100%;

		&:nth-child(1) {
			max-width: 45%;
		}

		&:nth-child(2) {
			max-width: 33%;
		}

		@include Mobile {
			display: grid;

			&:nth-child(1),
			&:nth-child(2) {
				max-width: unset;
			}
		}
	}

	&--spaceAround {
		justify-content: space-around;
	}

	@include Mobile {
		display: grid;
		gap: 5em;
	}
}