// For more colors use https://coolors.co/
$color-dark: #1E202E;
$color-white: white;

$color-gray-1: gray;
$color-gray-2: #808990;
$color-gray-3: #BCC2C7;

$color-raspberry-1: #ED1D4A;

$color-main-text: $color-dark;
