// For more colors use https://coolors.co/
$color-dark: #1e202e;
$color-white: white;

$color-gray-1: gray;
$color-gray-2: #808990;
$color-gray-3: #bcc2c7;
$color-gray-4: #dde4e8;

$color-raspberry-1: #ed1d4a;
$color-raspberry-2: #b91e4b;

$color-blue: #2d9cdb;
$color-yellow: #f2c94c;
$color-orange: #e7653c;

$color-main-text: $color-dark;
