// For more colors use https://coolors.co/
$color-dark: #1E202E;
$color-white: white;

$color-gray-1: gray;
$color-gray-2: #808990;
$color-gray-3: #BCC2C7;
$color-gray-4: #DDE4E8;

$color-raspberry-1: #ED1D4A;
$color-raspberry-2: #B91E4B;

$color-blue: #2D9CDB;
$color-yellow: #F2C94C;
$color-orange: #E7653C;

$color-main-text: $color-dark;
