/* Font */

@mixin Typography($size: null, $weight: null) {
	font-size: $size;
	font-weight: $weight;

	white-space: pre-line;
	line-height: 1.25;

	@include Mobile() {
		white-space: normal;

		br {
			display: none;
		}
	}
}

/* Adaptive */

@mixin Mobile {
	@media screen and (max-width: #{$width-sm}) {
		@content;
	}
}

@mixin Tablet {
	@media screen and (max-width: #{$width-md}) {
		@content
	}
}
