@import "vars";

/* Helpers */

@mixin Area($padding: 1.5em) {
	padding: $padding;
	border: 1px solid $color-gray-3;
	border-radius: 0.375em;
}

/* Font */

@mixin Typography($size: null, $weight: null) {
	font-size: $size;
	font-weight: $weight;

	white-space: pre-line;
	line-height: 1.25;

	@include Mobile() {
		white-space: normal;

		br {
			display: none;
		}
	}
}

/* Adaptive */

@mixin Mobile {
	@media screen and (max-width: #{$width-main}) {
		@content;
	}
}

@mixin Tablet {
	@media screen and (max-width: #{$width-main}) {
		@content;
	}
}

/* Utils */

@mixin line-clamp($lines) {
	@supports (line-clamp: $lines) and (display: -webkit-box) {
		line-clamp: $lines;
		display: -webkit-box;

		-webkit-box-orient: vertical;
		-webkit-line-clamp: $lines;
	}

	@supports (not (line-clamp: $lines)) and (not (display: -webkit-box)) {
		max-height: 1em * $lines;
	}

	overflow: hidden;
	text-overflow: ellipsis;
}
