@import "bundle.scss";

* {
	position: relative;
	box-sizing: border-box;
}

body {
	font: 16px/1 "Inter", "Arial", sans-serif;
	color: $color-main-text;
	overflow-y: scroll;
	margin: unset;
}

/* Typography */

.heading {
	@include Typography;
	margin: unset;
	text-transform: uppercase;
}

/* Headings */

h1 {
	font-size: $font-size-1;
	font-weight: 700;
}

h2 {
	font-size: $font-size-2;
	font-weight: 600;
}

h3 {
	font-size: $font-size-3;
	font-weight: 600;
}

h4,
h5 {
	font-size: $font-size-4;
	font-weight: 600;
}

/* Text */

p {
	line-height: 1.25;
}

small {
	font-size: $font-size-6;
}

/* Anchor */

a {
	&.ghost {
		position: absolute;
		inset: 0;
	}
}

/* UX */

input,
button,
textarea {
	all: unset;
}

input {
	cursor: revert;
}

button,
textarea {
	&:focus-visible {
		@include Outline;
	}
}

button {
	cursor: pointer;
	transition: 100ms ease opacity;

	&:active {
		opacity: 0.75;
	}
}
