@import "~app/assets/scss/bundle.scss";

.mini-profile {
	display: flex;
	align-items: center;
	// gap: 0.5em;
	@include column-gap(0.5em);
}

.mini-profile__avatar {
	width: 1.5em;
	height: 1.5em;

	border-radius: 50%;
	object-fit: cover;
}

.mini-profile__icon {
	transition: 250ms ease transform;

	&--up {
		transform: rotateX(180deg);
	}
}
