@import "~app/assets/scss/bundle.scss";

.topbar {
	display: flex;
	align-items: center;
	@include column-gap(1.5em);
}

.topbar-menu {
	display: flex;
	align-items: center;
	// gap: 2em;
	@include column-gap(2em);

	margin-right: auto;
}

.topbar-menu__link {
	color: $color-main-text;
	font-size: $font-size-5;

	text-decoration: none;

	@include Mobile {
		&:not(:first-child) {
			display: none;
		}
	}
}

.topbar-actions {
	display: flex;
	align-items: center;
	@include column-gap(1em);

	&>:first-child {
		margin-right: 1.5em;
	}

	@include Mobile {
		display: none;
	}
}

.topbar-actions__action {
	--icon-size: 1.25em;

	color: $color-gray-3;
}

.topbar-menu__icon {
	--icon-size: 1.25em;
}
