@import "~app/assets/scss/bundle.scss";

.textarea {
	display: grid;
	gap: 0.5em;
}

.textarea__appearance {
	flex: 1;
	max-width: 100%;
	max-height: 50vh;
	transition: 200ms ease color;

	@include InputAppearance;

	font-size: $font-size-5;
	line-height: 1.25;
	overflow-wrap: break-word;
	cursor: text;

	&:invalid {
		color: $color-raspberry-1;
	}

	&::placeholder {
		color: $color-gray-3;
	}
}

.textarea__label {
	// max-width: 35ch;
	// color: $color-gray-3;
	font-size: $font-size-5;
}

/* Attachments */

.textarea-attachments {
	display: flex;
	align-items: center;
}

.textarea-attachments__attach {
	--icon-size: 2em;
	margin-left: 1em;
	color: $color-gray-3;
	cursor: pointer;
}

.textarea-attachments__input {
	display: none;
}
