@import "~app/assets/scss/bundle.scss";

.lot-preview {
	display: grid;
	max-width: 13em;

	&:hover {
		box-shadow: 0px 2px 8px -4px rgba($color-dark, 1);
	}

	border-radius: 1.5em 1.5em 0 0;
	box-shadow: 0px 2px 8px -4px rgba($color-dark, 0.5);
	transition: 250ms ease box-shadow;

	@include Mobile {
		max-width: unset;
	}
}

.lot-preview__image {
	aspect-ratio: 1;
	width: 100%;
	border-radius: inherit;
	object-fit: cover;
}

.lot-preview__info {
	display: grid;
	gap: 0.5em;

	padding: 0.75em;
}

.lot-preview__title {
	@extend .clamp-2-lines;
	@include Typography($font-size-5, 600);
	text-transform: uppercase;
}

.lot-preview__city {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-bottom: 0.5em;
	border-bottom: 1px solid $color-gray-4;

	font-size: $font-size-5;

	.icon[name="truck"] {
		--icon-size: 1.75em;
		color: $color-gray-2;
	}
}

.lot-preview__details {
	display: grid;
	gap: 0.5em;
}

.lot-preview__entry {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-size: $font-size-5;

	small {
		line-height: 1.25;
		color: $color-gray-2;

		max-width: 10ch;
	}

	strong {
		white-space: nowrap;
	}
}

.lot-preview__bookmark {
	--icon-size: 2em;

	position: absolute;
	top: 0;
	right: 10%;
	transform: translateY(-25%);

	color: $color-gray-3;

	&--active {
		color: $color-raspberry-1;
	}
}

/* Status */

.lot-preview-status {
	display: flex;
	align-items: center;
}

.lot-preview-status__icon {
	--icon-size: 1em;

	margin-right: 0.5em;

	&--truck {
		color: $color-orange;
	}
}

.lot-preview-status__label {
	font-size: $font-size-5;
	line-height: 1.35;

	em {
		font-weight: 600;
	}
}
