@import "~app/assets/scss/bundle.scss";

.user-view {
	display: flex;
	align-items: flex-start;
	gap: 5em;
}

.user-view__container {
	display: grid;
	align-content: baseline;
	gap: 2em;

	flex: 1;
}

.user-view__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-view__entry {
	color: $color-gray-2;
	font-size: $font-size-5;
}

.user-view__general-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-view__info {
	display: grid;
	gap: 2em;
}

.user-view__avatar {
	width: 10em;
	height: 10em;

	border-radius: 50%;
	object-fit: cover;
}

.user-view__cover {
	flex: 1;
	height: 35em;
	background: $color-gray-4;
}
