@import "~app/assets/scss/bundle.scss";

.dropper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1em 1em;
	border-radius: $border-radius-1;

	&--active {
		background: rgba($color-gray-1, 0.1);
		font-weight: 500;
	}
}

a.dropper {
	font-size: 1rem;
	color: $color-main-text;
	text-decoration: none;
}

.dropper__text {
	font-size: $font-size-5;
}

.dropper__side {
	display: flex;
	align-items: center;
	@include column-gap(1em);
}

.dropper__icon {
	--icon-size: 0.75em;
}

.dropper__amount {
	font-size: $font-size-5;
	font-weight: 500;
}
