@import "~app/assets/scss/bundle.scss";

.input {
	display: grid;
	gap: 0.25em;
}

.input__appearance {
	display: flex;
	align-items: center;
	transition: 200ms ease border-color;

	@include InputAppearance;

	.input--invalid & {
		border-color: $color-raspberry-1;
	}
}

.input__input {
	width: 100%;
	font-size: $font-size-5;
	transition: 200ms ease color;

	&:invalid {
		color: $color-raspberry-1;
	}

	&::placeholder {
		color: $color-gray-3;
	}
}

.input__icon {
	--icon-size: $font-size-5;
}

.input__validity {
	color: $color-raspberry-1;
	font-size: $font-size-6;
}
