@import "~app/assets/scss/bundle.scss";

.tool-tip {
	$translateX: -50%;
	$translateY: -100%;

	position: absolute;
	top: -1em;
	left: 50%;
	transform: translate($translateX, -75%);
	pointer-events: none;
	opacity: 0;

	width: max-content;
	max-width: 17ch;

	padding: 0.75em 1.5em;
	background: $color-white;
	border-radius: $border-radius-1;
	box-shadow: 0 0 8px -2px $color-gray-3;
	transition: 250ms ease opacity, 250ms ease transform;

	:hover>& {
		opacity: 1;
		transform: translate($translateX, $translateY);
		transition-delay: 500ms;
	}
}

.tool-tip__inner {
	font-size: $font-size-6;
	text-align: center;
	line-height: 1.25;
	color: $color-main-text;
}
