@import "~app/assets/scss/bundle.scss";

.slider {
	display: grid;
	gap: 2.5em;
}

.slider__container {
	display: grid;
	gap: 0.5em;
}

.slider__current {

	.slider__slide {
		width: 100%;
	}
}

$arrow-icon-size: 1em;

.slider__arrows {
	position: absolute;
	inset-block: 0;
	inset-inline: -$arrow-icon-size;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slider__arrow {
	--icon-size: #{$arrow-icon-size};

	display: flex;
	padding: $arrow-icon-size * 0.6;
	background: $color-white;
	border-radius: 50%;

	&:nth-child(1) {
		transform: rotate(90deg);
	}

	&:nth-child(2) {
		transform: rotate(-90deg);
	}
}

.slider__slide {
	aspect-ratio: 1.25/1;
	border-radius: $border-radius-1;
	object-fit: cover;

	width: 5em;
}

.slider__slides {
	display: flex;
	flex-wrap: nowrap;
	@include column-gap(0.25em);

	width: 100%;
	overflow: auto;

	.slider__slide {
		cursor: pointer;
	}
}



/* Video */

.slider-video {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-video__play {
	position: absolute;

	padding: 1.5em;
	background: rgba($color-white, 0.75);
	border: 1px solid rgba($color-dark, 0.25);
	border-radius: 50%;

	cursor: pointer;
}

.slider-video__icon {
	--icon-size: 2.5em;
}