@import "~app/assets/scss/bundle.scss";

.detailed-sellers {}

.detailed-sellers__previews {}

.detailed-sellers__preview {
	max-width: 13em;
	cursor: pointer;
}

.detailed-sellers__expanded {
	display: flex;
	align-items: flex-start;
	gap: 2.5em;

	background: $color-white;
	transition: 500ms ease opacity;

	&:not(&--active) {
		opacity: 0;
		pointer-events: none;
	}
}

.detailed-sellers__log {
	display: grid;
	gap: 1em;

	flex: 1;
}

.detailed-sellers__back {
	justify-self: flex-start;
}
